.App {
  text-align: center;
  justify-content: center;
}
.main {
  text-align: center;
  justify-content: center;
}
.fields {
  text-align: center;
  justify-content: space-between;
  width: 300px;
  margin-left: 38%;
  background-color: white;
}
.margin {
  background-color: pink;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  justify-content: center;
  display: inline;
}

.empty {
  width: 100px;
  margin-left: 35%;
}

.footer {
  width: 331px;
  text-align: center;
  justify-content: center;
  margin-left: 38%
}


